---
import { useStoryblokApi } from "@storyblok/astro";
import PageLayout from "../../layouts/PageLayout.astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { Icon } from "astro-icon/components";
import PostTags from "../../components/blog/PostTags.astro";
import Image from "../../components/common/Image.astro";

export async function getStaticPaths() {
  const sbApi = useStoryblokApi();

  const { data } = await sbApi.get("cdn/stories", {
    content_type: "blogPost",
    version: import.meta.env.DEV ? "draft" : "published",
  });

  const stories = Object.values<{ slug: string }>(data.stories);

  return stories.map((story) => {
    return {
      params: { slug: story.slug },
    };
  });
}

const sbApi = useStoryblokApi();
const { slug } = Astro.params;
const { data } = await sbApi.get(`cdn/stories/blog/${slug}`, {
  version: import.meta.env.DEV ? "draft" : "published",
});

const story: Story = data.story;

const post: Post = {
  title: story.content.title,
  date: new Date(
    story.published_at ? story.published_at : story.created_at
  ).toLocaleDateString("ko-KR", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
  }),
  description: story.content.description,
  slug: story.slug,
  tags: story.tag_list,
  thumbnail: story.content.thumbnail?.filename || undefined,
};
---

<PageLayout>
  <section class="py-8 sm:py-16 lg:py-20 mx-auto">
    <article>
      <header>
        <div
          class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center"
        >
          <p>
            <Icon
              name="tabler:clock"
              class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400"
            />
            <time datetime={String(post.date)} class="inline-block">
              {post.date}
            </time>
          </p>
        </div>

        <h1
          class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
        >
          {post.title}
        </h1>

        <p
          class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
        >
          {post.description}
        </p>

        <div
          class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row"
        >
          <PostTags tags={post.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
        </div>

        {
          post.thumbnail ? (
            <Image
              src={post.thumbnail}
              class="max-w-full lg:max-w-[900px] mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post?.title || ""}
              width={900}
              height={506}
              loading="eager"
              decoding="async"
            />
          ) : (
            <div class="max-w-3xl mx-auto px-4 sm:px-6">
              <div class="border-t dark:border-slate-700" />
            </div>
          )
        }
      </header>
      <StoryblokComponent blok={story.content} />
    </article>
  </section>
</PageLayout>
